@model WebStore.Domain.ViewModels.CatalogViewModel

@{
    ViewBag.Title = "Каталог товаров";
}

<!-- START PAGE-CONTENT -->
<section class="page-content">
    <div class="container">
        
        <vc:bread-crumbs/>

        <div class="row">
            <div class="col-md-3">
                <!-- CATEGORY-MENU-LIST START -->
                <vc:sections/>
                <vc:brands/>
                <!-- END CATEGORY-MENU-LIST -->
                <!-- shop-filter start -->
                <div class="shop-filter">
                    <div class="area-title">
                        <h3 class="title-group gfont-1">Filters Products</h3>
                    </div>
                    <h4 class="shop-price-title">Price</h4>
                    <div class="info_widget">
                        <div class="price_filter">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                                <input type="submit" value="Filter"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shop-filter start -->
                <!-- filter-by start -->
                <div class="accordion_one">
                    <h4><a class="accordion-trigger" data-toggle="collapse" href="#divone">Color</a></h4>
                    <div id="divone" class="collapse in">
                        <div class="filter-menu">
                            <ul>
                                <li><a href="#">Black (2)</a></li>
                                <li><a href="#">Blue (2)</a></li>
                                <li><a href="#">Brown (3)</a></li>
                                <li><a href="#">Green (3)</a></li>
                                <li><a href="#">Orange (2)</a></li>
                                <li><a href="#">Pink (2)</a></li>
                                <li><a href="#">Red (11)</a></li>
                                <li><a href="#">Yellow (3)</a></li>
                            </ul>
                        </div>
                    </div>
                    <h4><a class="accordion-trigger" data-toggle="collapse" href="#div2">manufacture</a></h4>
                    <div id="div2" class="collapse in">
                        <div class="filter-menu">
                            <ul>
                                <li><a href="#">Chanel (2)</a></li>
                                <li><a href="#">Christian Dior (2)</a></li>
                                <li><a href="#">Ermenegildo (2)</a></li>
                                <li><a href="#">Ferragamo (1)</a></li>
                                <li><a href="#">Hermes (2)</a></li>
                                <li><a href="#">Louis Vuitton (3)</a></li>
                                <li><a href="#">Prada (1)</a></li>
                            </ul>
                        </div>
                    </div>
                    <h4><a class="accordion-trigger" data-toggle="collapse" href="#div3">Size</a></h4>
                    <div id="div3" class="collapse in">
                        <div class="filter-menu">
                            <ul>
                                <li><a href="#">L (1)</a></li>
                                <li><a href="#">M (5)</a></li>
                                <li><a href="#">S (7)</a></li>
                                <li><a href="#">XL (5)</a></li>
                                <li><a href="#">XXL (6)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- filter-by end -->
            </div>
            <div class="col-md-9 col-xs-12">
                <!-- START PRODUCT-BANNER -->
                <div class="product-banner">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="banner">
                                <a href="#"><img src="~/img/banner/12.jpg" alt="Product Banner"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT-BANNER -->
                <!-- START PRODUCT-AREA -->
                <div id="catalog-items-container">
                    <partial name="Partial/_Products" model="Model.Products" />
                </div>

                <pageing page-model="Model.PageViewModel"
                         page-action="Index"
                         page-url-SectionId="@Model.SectionId"
                         page-url-BrandId="@Model.BrandId"
                         page-url-PageSize="@Context.Request.Query["PageSize"]">
                </pageing>

                <!-- END PRODUCT-AREA -->
            </div>
        </div>
    </div>
    <partial name="Partial/_BrandLogo" />

    <partial name="Partial/_SubscribeArea" />
</section>
<!-- END PAGE-CONTENT -->
@section Scripts
{
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/js/Catalog/CatalogLogik.js" asp-append-version="true"></script>

    <script>
        $(function() {
            Catalog.init({
                getViewLink: "@Url.Action("GetFeaturesItems","Catalog")"
            });
        })
    </script>
}
