<div class="top-link">
    <ul class="link">
        @*<li><a href="#"><i class="fa fa-user"></i> @User.Identity?.Name</a></li>*@

        <li>
            <a asp-controller="Cart" asp-action="Index" id="cart-container">
                <vc:cart />
            </a>
        </li>
        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-share"></i> Login</a></li>
        <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-unlock-alt"></i> Register</a></li>
    </ul>
</div>