    <!-- Start Mobile-menu -->
<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav id="mobile-menu">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-controller="Catalog" asp-action="Index">Bestseller Products</a></li>
                        <li><a asp-controller="Home" asp-action="ShopList">New Products</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                                <li><a asp-controller="Home" asp-action="Checkout">Checkout</a></li>
                                <li><a asp-controller="Home" asp-action="Account">Create Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a asp-controller="Home" asp-action="MyAccount">My Account</a></li>
                                <li><a asp-controller="Home" asp-action="ProductDetails">Product details</a></li>
                                <li><a asp-controller="Catalog" asp-action="Index">Shop Grid View</a></li>
                                <li><a asp-controller="Home" asp-action="ShopList">Shop List View</a></li>
                                <li><a asp-controller="Home" asp-action="WishList">Wish List</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile-menu -->