    <!-- START MAINMENU-AREA -->
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mainmenu hidden-sm hidden-xs">
                    <nav>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>

                            </li>
                            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                            <li class="hot"><a asp-controller="Home" asp-action="Shop">Bestseller Products</a></li>
                            <li class="new"><a asp-controller="Home" asp-action="ShopList">New Products</a></li>
                            <li><a asp-controller="Home" asp-action="Shop">Special Products</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Cart">Cart</a></li>
                                    <li><a asp-controller="Home" asp-action="Checkout">Checkout</a></li>
                                    <li><a asp-controller="Home" asp-action="Account">Create </a></li>
                                    <li><a asp-controller="Home" asp-action="MyAccount">My Account</a></li>
                                    <li><a asp-controller="Home" asp-action="ProductDetails">Product details</a></li>
                                    <li><a asp-controller="Home" asp-action="Shop">Shop Grid View</a></li>
                                    <li><a asp-controller="Home" asp-action="ShopList">Shop List View</a></li>
                                    <li><a asp-controller="Home" asp-action="WishList">Wish List</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                            <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN-MENU-AREA -->