    <!-- Start Mobile-menu -->
<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav id="mobile-menu">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="shop.html">Bestseller Products</a></li>
                        <li><a href="shop-list.html">New Products</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="account.html">Create Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="product-details.html">Product details</a></li>
                                <li><a href="shop.html">Shop Grid View</a></li>
                                <li><a href="shop-list.html">Shop List View</a></li>
                                <li><a href="wishlist.html">Wish List</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile-menu -->